.menuItem {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3px;
  > .title{
    max-width: 115px;
    margin-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  > .indicators{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .color{
      height: 5px;
      width: 5px;
      border-radius: 50%;
    }
    .number{
      color: var(--td-text-color-primary);
      width: 2em;
      text-align: right;
      font-size: 12px;
    }
  }
}
.identifier{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  z-index: 1;
  > .moreBtn {
    opacity: 0;
  }
  &:hover > .moreBtn{
    opacity: 1;
  }
  &:hover + .menuItem > .indicators{
    opacity: 0;
  }
}
.identifier[itemType="toDoMenuItemFolder"]{
  padding: 0 32px;
}
.container{
  overflow-y: scroll;
  overflow-x: hidden;
}
.menuGroupTitleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  & > .icon{
    opacity: 0;
    transition: all .1s linear;
    border-radius: 5px;
    &:hover {
      background-color: var(--td-bg-color-secondarycontainer-hover);
    }
    &:active {
      background-color: transparent;
    }
    &.active {
      opacity: 1;
    }
  }
  &:hover .icon{
    opacity: 1;
  }
}
.selectIcon {
  position: absolute;
  right: 8px;
  z-index: 1;
  transition: all .2s ease;
  &.rotate {
    transform: rotate(180deg);
  }
}
