.container {
  background-color: var(--td-bg-color-container);
  height: 100%;
  flex: 1;
  width: 0;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
    > .left {
      display: flex;
      align-items: center;
      width: calc(100% - 22px);
      overflow: hidden;
      .title {
        margin: 0 20px 0 12px;
        font-size: 23px;
        font-weight: bold;
        word-break: keep-all;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
      }
    }
  }
  .inputWrapper {
    padding: 10px 23px;
  }
  .todoItems {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
  }
  .emptyContainer {
    width: 100%;
    flex-grow: 1;
    padding: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -60px;
      > .description {
        color: var(--td-text-color-placeholder);
        font-weight: bold;
        font-size: 15px;
        bottom: .5em;
        position: absolute;
        white-space: nowrap;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        > div:nth-of-type(2) {
          font-size: 13px;
          color: var(--td-text-color-disabled);
        }
      }
    }
  }
}
